<div class="container">
	<div class="banner">
		<%= image_tag "logo.png" %>
	</div>
	<div class="menu">
		<div class="tattoo">
			<%= link_to about_path do %>
				<%= image_tag "panther.png" %>
				<h1>A propos</h1>
			<% end %>
		</div>
		<div class="tattoo">
			<%= link_to work_path do %>
				<%= image_tag "flower.png" %>
				<h1>Mon travail</h1>
			<% end %>
		</div>
		<div class="tattoo">
			<%= link_to contact_path do %>
				<%= image_tag "skull.png" %>
				<h1>Contact</h1>
			<% end %>
		</div>
	</div>
</div>