<div class="container">
	<div class="banner">
		<%= image_tag "logo.png" %>
	</div>
	<div class="menu">
		<div class="tattoo">
			<%= image_tag "panther.png" %>
			<h1>
				<%= link_to("About me", about_path) %>	
			</h1>
		</div>
		<div class="tattoo">
			<%= image_tag "flower.png" %>
			<h1><%= link_to("My work", work_path) %></h1>
		</div>
		<div class="tattoo">
			<%= image_tag "skull.png" %>
			<h1><%= link_to("Contact", contact_path) %></h1>
		</div>
	</div>
</div>